doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name = "viewport",
    content = "width=device-width,initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=Oswald:400,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300', rel='stylesheet', type='text/css')
    link(rel="stylesheet", type="text/css", href="{{ url_for('static',filename='./css/style.css') }}")
    link(rel="shortcut icon", href="{{ url_for('static',filename='site_icon.ico') }}")
    title Links
    style.
      #pre-load-image 
      {
        background-size: cover;
        background-position: 0 -50px;
        height: 300px;
        width: 100%;
        overflow: hidden;
        opacity: 1; 
        z-index: -1;
        background-image: url("{% include "blur_image.html" %}");
      }

  body
    div#page-wrapper
      a(href="/")
        header
          div#pre-load-image
          h1 Links
      div#main

        div#users-navbar
          h3 Users
          .horizontal-line 
          ul#users-navbar-list
          div#edit-users-button
            div#edit-users-icon
            span#edit-users-text Edit Users
              
        div#page-root
          div#welcome-page
            h2 Welcome!
            p#welcome To get started, browse the side menu.     

  template(id="navbar-user-template")
    {% raw %}
    li(id='select{{name}}') {{name}}
    {% endraw %}

  template(id="link-page-template")
    {% raw %} 
    div#link-page
      h2#link-user-name {{name}}

      div#new-item-wrapper
        div#new-item-button
          div#new-item-icon
          span#new-item-text Add new item
        
        div#new-item-form
          div#new-item-form-buttons
            button.submit Submit
            button.cancel Cancel
          div#new-item-form-fields
            input.url(type="text", placeholder = "Enter link URL")
            input.title(type="text", placeholder = "Enter link title (optional)")

      div#link-list
    {% endraw %}

  template(id="link-template")
    {% raw %}   
    .link(id="link{{id}}")
      .link-content
        a(href="{{url}}") {{title}}
      .link-options
        .link-delete-button
          .button-title Delete
        .link-edit-button
          .button-title Edit

      .link-edit-form
        p.input
          label URL
          input.url(type="text", placeholder = "Enter link URL")
        p.input
          label Title
          input.title(type="text", placeholder = "Enter link title")
        p
          button.submit Submit
          button.cancel Cancel

      .link-delete-form
        p
          button.delete Delete
        p
          button.cancel Cancel
    {% endraw %}

  template(id="user-page-template")
    div#user-page
      h2 Edit Users
      ul
      button#new-user-button Add User
      div#new-user-form
        input#new-user-name(type="text", placeholder = "Enter username - maximum length of 10 characters")
        br
        button#confirm-new-user-button Add
        button#cancel-new-user-button Cancel

  template(id="user-form-template")
    {% raw %}
    li.edit-user-row(id="edit{{name}}")
      h3 {{name}}
      button.cancel-user-delete-button(id = "cancel{{name}}") Cancel
      button.delete(id="delete{{name}}") Delete
    {% endraw %}  

  script(src="{{ url_for('static',filename='js/jquery-2.1.4.js') }}")
  script(src="{{ url_for('static',filename='js/mustache.min.js') }}")
  script(src="{{ url_for('static',filename='js/out.js') }}")
  script.
    // when bg image loaded, swap out full image
    window.onload = function loadSharpImages() {
      // Quit early if older browser (e.g. IE 8).
      if (!('addEventListener' in window)) return
      var preLoadBackground = document.querySelector("#pre-load-image")
      var backgroundSourceFile = "{{url_for('static',filename='img/hero.png')}}"
      var backgroundImage = new Image();
      backgroundImage.src = backgroundSourceFile
      backgroundImage.onload = function() {
        function fadeOut(i) {
          preLoadBackground.style.opacity = 1 - 0.01*i
          if (i >= 100) return
          setTimeout(function(){fadeOut(i+1)},1)
        }
        fadeOut(0)
      }
    };
