@import '../scss/constants';

:local
{
    .list
    {
        padding: 0;
        list-style: none;
    }

    .spinnerWrapper {
        display: none;
        @media #{$phone} {
            display: block;
        }
        position: relative;
        margin: 0 auto;
        width: 3em;
        height: 3em;
        margin-bottom: 2em;
     
        .spinner {
            width: 100%;
            height: 100%;
            left: 63%;  
        }
    }
}