@import '../scss/constants';

:local
{
    .field
    {  
        margin-bottom: 2em; 
        font-size: $font-size;
        font-family: $font-family;
        text-align: center;
    }

    .hyperlink
    {
        text-decoration: none;
        font-weight: bold;
        color: $link-color;
        &:visited
        {
            color: $link-color;
        }
    }

    .description
    {
        max-width: 350px;
        margin: 0 auto 2em auto;
        font-style: italic;
    }

    .btnWrapper {
        display: flex;
        justify-content: space-around;
    }

    .btn {
        width: 80px;
        margin-right: 1em;
        border: none;
        background: none;
    }

    .form
    {
        margin: 2em auto 0 auto;
        max-width: 800px;
    }

    .input
    {  
        margin-bottom: 1em;
        input, textarea
        {
            box-sizing: border-box;
            font-size: $font-size;
            font-family: $font-family;
            padding: 0.5em;
            width: 100%;
            resize: none;
        }
    }
}
