@import '../scss/constants';
@import '../scss/animations';

:local
{
    .link
    {
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        margin-bottom: 1.5em;
        text-decoration: none;
    }

    .left {
        display: inline-block;
        max-width: 95%;
    }

    .hyperlink
    {
        text-decoration: none;
        font-weight: bold;
        color: $link-color;
        &:visited
        {
            color: $link-color;
        }
    }

    .details
    {
        color: $text-grey;
        font-size: x-small;
    }

    .linkFormContainer
    {
        padding: 1em;
        max-width: 800px;
        p
        {
            line-height: 1.3em;
        }
    }
    
    .button, a.button
    {
        font-size: 1.1em;
        cursor: pointer;
        color: $text-grey;
        &:hover
        {
            color: $text-color;
        }
    }

    // react-spinner container
    span.button {
        position: relative;
        width: 1.3em;
        height: 1.3em;

        .spinner {
            width: 100%;
            height: 100%;
            left: 63%;
        }
    }
}
