@import '../scss/constants';

// TODO: See https://tympanus.net/Development/SidebarTransitions/#
// TODO: Make not overlay on desktop
:local {
    $sideNavWidth: 260px;
    $sideNavChildWidth: 160px;    
    $sideNavWidthPhone: 180px;
    $sideNavChildWidthPhone: 140px;    

    .sideNavBackground {
        z-index: -1;
        transition: 1s;
    }

    .sideNavBackground.active {
        z-index: 3;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 120%;
        background-color: rgba(0,0,0,0.5);
    }

    .sideNav {
        position: fixed;
        height: 120%;
        width: 0%;
        overflow-x: hidden;
        z-index: 4;
        top: 0;
        left: -$sideNavWidth;
        width: $sideNavWidth;
        @media #{$phone} {
            left: -$sideNavWidthPhone;
            width: $sideNavWidthPhone;
        }
        background-color: #fff;
        transition: left 0.5s linear 0.1s;
    }

    .sideNav.active {
        left: 0;
    }

    ._row {
        display: block;
        line-height: 2;
        padding: 0.4em 0 0.4em 3em;
        border-bottom: solid 1px #ddd;
        position: relative;
    }

    ._icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .row.active, .parentRow.active, .subRow.active {
        font-weight: bold;
    }

    .row {
        @extend ._row;
        cursor: pointer;
        &:hover, &:hover > a {
            color: $red;
        }
    }

    .childRow {
        @extend .row;
        padding-left: 1em;
        border: none;
    }

    .childSideNav {
        position: fixed;
        height: 120%;
        width: 0%;
        overflow-x: hidden;
        width: $sideNavChildWidth;
        top: -120%;
        left: $sideNavWidth;
        @media #{$phone} {
            left: $sideNavWidthPhone;
            width: $sideNavChildWidthPhone;
        }
        background-color: #fff;
        transition: top 0.5s linear 0.1s;
        border-left: solid 1px #ddd;
    }

    .parentRow {
        @extend .row;
        &:hover > .childSideNav.active {
            top: 0;
        }
    }

    .subRow {
        @extend ._row;
        padding-left: 0;
        margin-left: 3em;
        border-bottom: none;
        cursor: pointer;
        &:hover, &:hover > a {
            color: $red;
        }
    }

    .subRow + .subRow {
        border-top: solid 1px #ddd;
    }

    .subRow + .row, .subRow + .parentRow {
        border-top: solid 1px #ddd;
    }

    .header {
        @extend ._row;
        padding-left: 1em;
        font-weight: bold;
        color: #999;
    }

    .rightIcon {
        @extend ._icon;
        right: 0;
        font-size: 16px;
        padding-right: 10px;
        cursor: pointer;
        &:hover {
            color: $red;
        }
    }

    .leftIcon {
        @extend ._icon;
        left: 1em;
    }
}