:local
{
    .userList
    {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3em;
    }

    .user 
    {
        user-select: none;
        overflow: hidden;
        &:hover
        {
            cursor: pointer;

        }
    }

    .user + .user 
    {
        margin-left: 2em;
    }

    .selected
    {
        font-weight: bold;
    }
}
