:local
{
    .userList
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 1.5em;
    }

    .user 
    {
        flex: 1;
        min-width: 80px;
        margin-bottom: 1.5em; 

        user-select: none;
        text-align: center;
        &:hover
        {
            cursor: pointer;
        }
    }

    .selected
    {
        font-weight: bold;
    }
}
