{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_bundle 'main' 'css' %}
    {% block head %}{% endblock head %}
</head>
<body>
<header>
    <h1><a href="/">LINKS</a></h1>
    <div class="headerOptionWrapper">
        {% block header %}{% endblock header %}
    </div>
    <div class="headerOptionWrapper">
        {% if user.is_authenticated %}
        <span>{{ user.username.title }}</span>
        <a href="/logout/">Log Out</a>
        <a href="/change/">Change Password</a></p>
        {% else %}
        <a href="/login/">Log In</a>
        <a href="/signup/">Sign Up</a>
        {% endif %}
    </div>
</header>
<div class="headerSpacer"></div>
<div class="contentWrapper">
    {% block content %}{% endblock content %}
</div>
</body>
</html>