{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.ico">
    {% render_bundle 'main' 'css' %}
    {% block head %}{% endblock head %}
</head>
<body>
    <div id='react-app-root'>
        <header class="Header__header">
            <h1><a href="/">LINKS</a></h1>
        </header>
        <div class="headerSpacer"></div>
        <div class="contentWrapper">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% block scripts %}{% endblock scripts %}
</body>
</html>