@import 'constants';

.headerSpacer
{
    height: 5em;
}

header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    padding: 1em;
    background-color: $light-grey;
    display: flex;
    justify-content: space-between;
    h1
    {
        display: inline-block;
        font-size: 2em;
    }
    .headerOptionWrapper
    {
        display: flex;
        align-items: center;
    }
    
    .headerItem
    {
        font-weight: bold;
        color: $text-color;
        text-decoration: none;
        &:visited
        {
            color: $text-color;
        }
        &+.headerItem
        {
            margin-left: 2em;
        }
    }

    button
    {
        font-size: 1.2em;
        min-width: 2em;
        cursor: pointer;
        position: relative;
        background-color: $light-grey;
        border: none;
        &:focus
        {
            outline: none;
        }
    }
}