@import 'spinner';
@import 'constants';
@import 'header';

.contentWrapper
{
    max-width: 900px;
    margin: 0 auto;
    padding: 1em 2em;
}

.form
{
    display: flex;
    flex-direction: column;
    max-width: 380px;
    margin: 0 auto;
    h1 
    {
        margin-bottom: 20px;
    }
    p
    {
        margin-bottom: 10px;
        color: $red;
    }
    input
    {
        border: 1px solid $text-grey;
        display: block;
        margin: 0 0 0.8em 0;
        padding: 4px;
    }
    .errorPill
    {
        padding: 0.4em;
        box-sizing: border-box;
        margin: -0.8em 0 0.8em 0;
        text-align: center;
        background-color: #fcc;
        color: #c44;
        & > ul, li
        {
            color: #c44;
        }
    }
    .submit
    {
        font-weight: bold;
        cursor: pointer;
        background-color: #fff;
        border: none;
        outline: none;
    }
}